include ./mixins.jade
+navigation('Users')
#container
    table.table.table-bordered
        thead
            tr
                th Id
                th User
                th
        tbody
            tr(ng-repeat="user in users")
                td {{user.id}}
                td {{user.username}}
                td.col-md-1
                    a.btn.btn-default.btn-block(ng-href="/user/{{user.id}}")
                        span.glyphicon.glyphicon-menu-right