doctype
html(ng-app="clientSideLanPlayer")
    head
        meta(charset='utf8')
        base(href='/')
        title Lan Player
        script(src='./js/angular/angular.js')
        script(src='./js/angular-route/angular-route.js')
    body
        block body