mixin navigation(tab)
    ul.nav.nav-tabs
        li(role='presentation', class= tab === "Users" ? "active" : "")
            a(ng-href='/users') Users
        li(role='presentation', class= tab === "Maintenance" ? "active" : "")
            a(ng-href='/status') Maintenance