extends layout
block body
    body(ng-controller="StatusCtrl")
        +navigation('Maintenance')
        #container
            table.table.table-bordered
                thead
                    tr
                        th Service
                        th Status
                        th Version
                tbody
                    tr(ng-repeat="service in services")
                        td {{service.name}}
                        td {{service.status}}
                        td {{service.version}}