extends layout
block body
    body(ng-controller="UserListCtrl")
        h1 Jade - node template engine
        #container
            table(class="table table-bordered")
                thead
                    tr
                        th Id
                        th User
                        th
                tbody
                    tr(ng-repeat="user in users")
                        td {{user.id}}
                        td {{user.username}}
                        td
                            a(href="/user/{{user.id}}") User

        script(src='./js/controllers/userControllers.js')