extends layout
block body
    body(ng-controller="UserListCtrl")
        h1 Users
        #container
            table.table.table-bordered
                thead
                    tr
                        th Id
                        th User
                        th
                tbody
                    tr(ng-repeat="user in users")
                        td {{user.id}}
                        td {{user.username}}
                        td.col-md-1
                            a.btn.btn-default.btn-block(href="/user/{{user.id}}")
                                span.glyphicon.glyphicon-menu-right

    script(src='./js/controllers/userControllers.js')