extends layout
block body
    body(ng-controller="UserListCtrl")
        h1 Jade - node template engine
        #container
            p This is a paragraph {{'yet' + '!'}}
        ul
            li(ng-repeat="user in users")
                span{{user.id}}
                span{{user.username}}

        script(src='./js/clientSideLanPlayer.js')
        script(src='./js/controllers/userControllers.js')