
/LanPlaylistServer/target
/LanPlaylistServer/db/database.db
/LanPlaylistServer/tracks
/LanPlaylistServer/lanplaylistserver-0.0.1-SNAPSHOT.jar
/LanPlaylistServer/db/testserver.db
/.vagrant
/PlayerService/.settings
