@CHARSET "ISO-8859-1";

div.playlist-header{
	display: table-row;
	background-color: gray;
}

div.song-row{
	display: table-row;
}

div.song-row div {
	display: table-cell;
}

div.column-header{
	display: table-cell;
	font-weight:bold;
}

div.song-rows {
	display: table-row-group;
}

div.playlist-values {
	display: table;
	border-style:solid;
	border-radius: 6px;
	margin-bottom: 12px;
	margin-top: 12px;
	min-width: 400px;
}

div.playlist-values div {
	padding: 6px;
	text-align: left;
}